<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://web.facebook.com/profile.php?id=100066694849448"><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/arslan-haider-a0b297257/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy WanderLust private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
