
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><span class="post-color">Wnaderlust</span></a>
        
      </div>
      <div class="ms-auto search-bar">
        <form class="d-flex search-bar" role="search">
          <input class="form-control search-input search-bar" type="search" placeholder="Search destination" aria-label="Search">
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link post-color" href="/listings/new"><i class="fa-solid fa-cloud-arrow-up"></i><span class="post-color">Create a post</span></a>
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } else { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
            <% } %>
      </div>
      
  
    </div>
  </div>
</nav>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <!-- <button class="sidebar-toggler" type="button" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa-solid fa-bars"></i>
  </button> -->

  <div class="navbar-nav flex-column">
    <a class="nav-link" href="/listings"><span class="post-color">Wanderlust</span></a>
    <a class="nav-link" href="/listings/new"><span class="post-color">Create a post</span><i class="fa-solid fa-cloud-arrow-up"></i></a>
    
    <% if(!currUser){ %>
      <a class="nav-link" href="/signup"><b><span class="auth">Sign up</span></b></a>
      <a class="nav-link" href="/login"><b><span class="auth">Log in</span></b></a>
    <% } else { %>
      <a class="nav-link" href="/logout"><b><span class="auth">Log out</span></b></a>
    <% } %>
  </div>
  
  <div class="navbar-nav ms-auto mt-auto sidebar-search">
    <form class="d-flex" role="search">
      <input class="form-control me-2 search-input" type="search" placeholder="Search destination" aria-label="Search">
      <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
  </div>
</div>
